* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* informazioni utili per l'intestazione */

.first-head {
    vertical-align: middle;
    height: 60px;
    width: auto;
}

#logo {
    display: inline-block;
    margin-left:30px;
    margin-top:30px;
    width: 40px;
    height: 40px;
    
}

h1 {
    display: inline-block;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* vertical-align: auto; */
    font-size: 40px;
}

/* #header-staccato {
    with: 700px;
    height: 100px;
    margin-bottom: 20px;
} */


/* informazioni utili per il main */

main {
    background-color: #F6F8F9;
}

/* secondo header */

.second-head {
    width: 700px;
    height: 620px;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;

}

#add-task {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    background-color: dodgerblue;
    border-radius: 10px;
    margin: 15px 5px 15px 15px;
}

#add-section {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #BFBFBF;
    border: 1px;
    border-style: solid;
    border-color: #BFBFBF;
    border-radius: 10px;
    margin: 15px 2px;
}

#first-section {
    margin: 40px 20px 10px 20px;
}

#second-section {
    margin: 10px 20px;
}

#third-section {
    margin: 10px 20px;
}

.new-task {
    font-weight: bold;
    font-size: 20px;
}

/* Utilities */

.check-verde {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #5BA555;
    border: 1px;
    border-style: solid;
    border-color: #5BA555;
    border-radius: 50%;
}

.check-rosso {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: red;
    border: 1px;
    border-style: solid;
    border-color:red;
    border-radius: 50%;
}
.editorial {
    text-align: center;
    display: inline-block;
    padding: 4px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #46ACEB;
    border-radius: 10px;
    font-size: 10px;
}

.goals {
    text-align: center;
    display: inline-block;
    padding: 4px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #9C73E4;
    border-radius: 10px;
    font-size: 10px;
}

.recruting {
    text-align: center;
    display: inline-block;
    padding: 4px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #63C0A9;
    border-radius: 10px;
    font-size: 10px;
}

.mobile {
    text-align: center;
    display: inline-block;
    padding: 4px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #F29E34;
    border-radius: 10px;
    font-size: 10px;
}

.website {
    text-align: center;
    display: inline-block;
    padding: 4px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #D864A2;
    border-radius: 10px;
    font-size: 10px;
}

.sales {
    text-align: center;
    display: inline-block;
    padding: 4px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #B0C925;
    border-radius: 10px;
    font-size: 10px;
}

.orange-editorial {
    text-align: center;
    display: inline-block;
    padding: 4px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #F29E34;
    border-radius: 10px;
    font-size: 10px;
}


 .not-block{
    display: inline-block;
    margin-top: 20px;
}