* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}

/* utilities */

.container {
    width: 50%;
    margin: 0 auto;
}

.rounded {
    border-radius: 5px;
}

.bg-white {
    background-color: #fff;
}

/* Header */

header {
    height: 70px;
    padding-left: 20px;
    margin-bottom: 20px;
}

#logo {
    height: 50px;
    vertical-align: middle;
}

h1 {
    display: inline;
    line-height: 70px;
    font-weight: 900;
    font-size: 38px;
    vertical-align: middle;
}

h3 {
    margin-top: 30px;
}

ul {
    list-style-type: none;
}

/* sezione centrale */

#actions {
    padding: 10px 30px;
    border-bottom: 3px solid lightslategray;
}

/* buttons */

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.btn-primary {
    color: #fff;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.btn-disabled {
    color: lightgray;
    background-color: white;
    border-color: currentColor;
}

#tasks {
    padding: 20px;
}

/* tasks */

.task-status {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
}

.done {
    color: green;
    border-color: currentColor;
}

.undone {
    color: red;
    border-color: currentColor;
}

.task-item {
    margin-top: 30px;
}

/* pills */

.pills {
    padding: 5px 10px;
    font-size: 10px;
    vertical-align: middle;
    border-radius: 5px;
    color: white;
}

.pills-purple {
    background-color: purple;
}

.pills-green {
    background-color: green;
}

.pills-orange {
    background-color: orange;
}

.pills-lightgreen {
    background-color: lightgreen;
}

.pills-pink {
    background-color: pink;
}

.pills-blue {
    background-color: #45ABEA;
}